/* vm22023-ejercicio 2.css   vm22023  */
pais {
  background-color: beige;
}

departamento {
  background-color: skyblue;
  display: block;
}

cabecera {
  color: white;
  
}

habitantes {
  color: yellow;

}

altura {
  color: yellow;

  
}
alcalde {
  color: yellow;
}
gentilicio {
  color: yellow;

  
}
division {
  color: yellow;

  
}
patrono {
  color: yellow;

  
}
titulo {
  color: black;
  font-size: 1cm

  
}




