/* vm22023_ejercicio1a.css   VM22023 */

fichero{
  background-color: blue;
}

ficha {
  background-color: red;
  display: block;
}

nombre {
  color: white;
  display: inline;
}

apellido {
  color: yellow;
  display: inline;
}

direccion {
  color: yellow;



}
edad {
  color: yellow;



}
direccion {
  color: yellow;



}
telefono {
  color: yellow;


}
canttMascotas{
  color: yellow;

}